<p-panel>
    <p-header>
        <span>{{course.$resolved? (course.name? course.name: 'Error'): 'Loading...'}}</span>
        <div class="actions">
            <button pButton (click)="save()"
                icon="{{editMode? 'fa-save': 'fa-edit'}}"
                label="{{editMode? 'Save': 'Edit'}}"
                [disabled]="course.$resolved? null: true"
                [ngClass]="voltileError? 'ui-button-danger': 'ui-button-info'">
            </button>
        </div>
    </p-header>
    <app-commons-loader [when]="course.$resolved" class="screen">
        <div *ngIf="!course.name" class="fullscreen flexMiddle">
            <h3 class="error">Course not found !</h3>
        </div>
        <div *ngIf="course.name" class="fullscreen flexMiddle">
            <p *ngIf="!editMode && course.details" app-commons-background="assets/courses/books.jpeg" opacity="0.2">{{course.details}}</p>
            <h4 *ngIf="!editMode && !course.details" class="noData">Details not available</h4>
            <textarea *ngIf="editMode" placeholder="Enter course details here.." [(ngModel)]="course.details"></textarea>
        </div>
    </app-commons-loader>
</p-panel>